API_ID=32106761
API_HASH=7258634f961f3cefed2cd3c45afc5b8b
BOT_TOKEN=8673033266:AAHlqxComt_qtdPzFzgofs5T6Rpf7c3tCCs
LOGGER_ID=-1001867590494
MONGO_DB_URI=mongodb+srv://Sudeepyukichat:yukii1998@cluster0.hobcjzi.mongodb.net/?appName=Cluster0
OWNER_ID=8641145261
STRING_SESSION=BAHp6QkAprlEdv8UVUd5YxPSDqF7MqGlAcVSU7scp90jhfPLHERKUNajl9W6Ev-hiJ-24LSx-82fNoLhhl2n4MqXLMYjodUCiegjwQm0l4NiGlL-2r0YZvursmeoOlXNgMLVKzmOP0j32IP2MUcjBYuWerqjKhFYSJPLg1WmDm24JYUpxv6vfE1mEr5uMCSp5NatJ861KewnT21R5KKRHycXFs3C1xKXI9O-o7vkwjU-JvY_qTYaGg6koFUWIEfGf-npdpBG9S7AHTYjlIPIhol7jQPt3vCPlFbwr_LYoCHAVJ2fdsrEh2Rj0KWu8kU2j4AOydguRaT06IaZ08mIKhjZCmcQpAAAAAHsvjuuAA
